.height_400{
    height: 180px;
}
body{
    background-color: #000;
}

h5,h1,i{
    color: greenyellow !important;
}
input{
    border: greenyellow 5px solid !important;
}

.center{
    text-align: center;
}

.shadow{
    height: 300px;
    
    border : 5px solid white;
}

.circle{
  width: fit-content;
    animation-name: example;
    animation-duration: 1s;
    /* border-radius: 100%; */
    animation-iteration-count: infinite;
    color: greenyellow;
}

@keyframes example {
    from {opacity: 1;}
    to {opacity: 0.0;}
  }